body {
  background-color: #e5e5dc;
  margin: 0;
}

/*NAV*/

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #36454f;
  top: 0;
  left: 0;
  right: 0;
  position:fixed;
}

nav li {
  float: left;
  background-color: #36454f;
  transition-property: background-color;
  transition-duration: 2s;
}

nav li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
}

nav li:hover{
  background-color: black;
}

nav .active {
  background-color: #49545d;
  color: white;
  transition-property: background-color;
  transition-duration: 2s;
}

/*HEADING*/

header {
  color: white;
  background:  url(header.png) no-repeat center center;
  background-size:auto; 
  text-align: center;
  height: 400px;
  width: 1536px;
}

header h1{
  display: inline-block;
  color: white;
  margin-top: 140px;
  font-size: 75px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #ef8432;
}

/*MAIN*/

main {
  margin:25px;
  border: double 4px #36454f;
  padding: 25px;
  padding-bottom:124px;
}

main h2 {
  display: inline-block;
  color: white;
  font-size: 35px;
  font-family:Arial, Helvetica, sans-serif;
  background-color:#36454f;
}

main p {
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
  width: 625px;
}

ul li {
  font-family:Arial, Helvetica, sans-serif;
}

#sdg-logo {
  width: 450px;
  height: 450px;
  float:right;
}

#support-sdg {
  width: 319px;
  height: 450px;
  float:right;
}

/*FOOTER*/

footer {
  background-color:#36454f;
  margin-bottom:0px;
  padding:1em;
}

footer p {
  color:white;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  margin:5px;
}
